version = 6

$DESTINATIONS

[connection.bridge]
capabilities = ["segmentation", "retransmission", "retransmission_ack_only", "no_rate_control"]
target = "$BRIDGE_TARGET"

[connection.wg]
capabilities = ["segmentation", "no_delay"]
target = "$WG_TARGET"

[connection.ping]
address = "10.128.0.1"
